.conveience {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.convenience__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  & > .list-style {
    display: inline-block;
    width: 270px;
    @media screen and (min-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((1170px - 90px) / 4);
    }
  }
}
.convenience__box {
  width: 100%;
  height: 120px;
  background-color: var(--back-svg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.convenience__header {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navigation-black);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.convenience__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--connection-link-color);
}
