.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.footer__container {
  @media screen and (min-width: 768px) {
    & > .footer__wrap {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    & > .footer__wrap {
      display: flex;
      gap: 70px;
    }
  }
}
.footer_adress-box {
  & > .logo {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
}
.footer-webstudio-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 28px;
  color: var(--white-back);
}
.footer-link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address a {
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & a:hover,
  & a:focus {
    color: var(--page-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-list > .list-style:not(:last-child) {
  margin-bottom: 9px;
}
.footer-header-soc {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-back);
  margin-bottom: 20px;
  text-align: center;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-top: 0;
    margin-top: 60px;
  }
}
.footer-list-social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-soc-list {
  width: 44px;
  height: 44px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-back);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--page-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
