.header {
  position: relative;
  background: var(--white-back);
  border-bottom: solid 1px;
  border-color: var(--border-header);
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__btn {
  display: none;
  & > .list-style:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.connection {
  display: none;
  @media screen and (min-width: 768px) {
    display: initial;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.connection__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-black);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--page-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.current::after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 4px;
    left: 0;
    right: 0;
    background: var(--page-color);
    border-radius: 2px;
    transform: translateY(700%);
    @media screen and (min-width: 768px) {
      transform: translateY(850%);
    }
    @media screen and (min-width: 1200px) {
      transform: translateY(700%);
    }
  }
}

.current {
  color: var(--page-color);
}
.connection__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--connection-link-color);
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--page-color);
    fill: var(--page-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.connection__icons {
  margin-right: 10px;
  fill: currentColor;
}
