.hero {
  background-image: var(--hero-gradient), url(../image/Header-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 480px) {
    background-image: var(--hero-gradient), url(../image/Header-mob.jpg);
    background-size: contain;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 768px) {
    background-image: var(--hero-gradient), url(../image/Header-tablet.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: contain;
  }
  @media screen and (min-width: 1200px) {
    background-image: var(--hero-gradient), url(../image/Img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../image/Header-mob2x.jpg);
    @media screen and (min-width: 480px) {
      background-image: var(--hero-gradient), url(../image/Header-mob2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: var(--hero-gradient), url(../image/Header-tablet2x.jpg);
    }
    @media screen and (min-width: 1200px) {
      background-image: var(--hero-gradient), url(../image/Header-desctop2x.jpg);
    }
  }
}
.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-back);
  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.62x;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-back);
  margin: 0 auto;
  margin-top: 30px;
  background: var(--page-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--page-color);
    background-color: var(--white-back);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
