.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--page-color);
}
nav > .logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo__header--black {
  color: var(--black-color);
}
.logo__footer--white {
  color: var(--white-back);
}
